@page "/admin/productos"
@inject IProductoService ProductoService
@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager NavigationManager


<h3>Productos</h3>

@if (ProductoService.AdminProductos == null)
{
    <span>Cargando productos...</span>
}
else
{
    <button class="btn btn-primary float-end" @onclick="CrearProducto">
        <i class="oi oi-plus"></i> Engadir novo producto
    </button>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Producto</th>
                <th>Variante</th>
                <th>Precio</th>
                <th>Visible</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @* Usamos o virtualize component que nos vira moi ben para aforrar memoria xa que solo carga o que realmente
                se esta vendo no navegador. Funciona como un foreach coa variable producto neste caso
                Se non o usamos e hai moitos productos, a paxina pode perder rendemento *@
            <Virtualize Items="ProductoService.AdminProductos" Context="producto">
                <tr>
                <td><img src="@producto.ImaxeUrl" />
                @if(!string.IsNullOrEmpty(producto.ImaxeUrl))
                {
                        <img src="@producto.ImaxeUrl" />
                    }
                    else if(producto.Imaxes.Count > 0)
                    {
                        <img src="@producto.Imaxes[0].Datos" />
                    }
                </td>
                    <td>@producto.Titulo</td>
                    <td>
                        @foreach (var variante in producto.Variantes)
                    {
                        <span>@variante.ProductoType.Nome</span><br />
                    }
                </td>
                <td>
                    @foreach (var variante in producto.Variantes)
                    {
                        <span>@variante.Precio</span><br />
                    }
                </td>
                <td>
                    @(producto.Visible ? "✔️" : "")
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => EditarProducto(producto.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        </Virtualize>
    </tbody>
</table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductoService.GetAdminProductos();
    }

    void EditarProducto(int productoId)
    {
        NavigationManager.NavigateTo($"admin/producto/{productoId}");
    }

    void CrearProducto()
    {
        NavigationManager.NavigateTo($"admin/producto");
    }
}
