<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(TendaLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(TendaLayout)">
            <p role="alert">Sentindoo moito, non hai nada nesta direccion.</p>
        </LayoutView>
    </NotFound>
</Router>
