@page "/carro"
@inject ICarroService CarroService
@inject IPedidoService PedidoService
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>Carriño da Compra</PageTitle>
<h3>Carriño da compra</h3>

@if (carroProductos == null || carroProductos.Count == 0)
{
    <span>@mensaxe</span>
}
@* non nos fai falta isto porque crearemos unha paxina de agradecemento ao cliente aparte
    else if (pedidoRealizado)
    {
    <span>Gracias por completar o pedido! Podes comprobar os teus pedidos <a href="pedidos">aqui</a>.</span>
    }*@
else
{
    <div>
        @foreach (var producto in carroProductos)
        {
            <div class="container">
                <div class="imaxe-wrapper">
                    <img src="@producto.ImaxeUrl" class="imaxe" />
                </div>
                <div class="nome">
                    <h5><a href="/producto/@producto.ProductoId">@producto.Titulo</a></h5>
                    <span>@producto.ProductoType</span><br />
                    <input type="number" value="@producto.Cantidade"
                @onchange="@((ChangeEventArgs e) => UpdateCantidade(e, producto))"
                class="form-control entrada-cantidade" min="1" />
                    <button class="btn-delete"
                @onclick="@(() => RemoveProductoDeCarro(producto.ProductoId, producto.ProductoTypeId))">
                        Quitar
                    </button>
                </div>
                <div class="carro-producto-precio">@(producto.Precio * producto.Cantidade)€</div>
            </div>
        }
        <div class="carro-producto-precio">
            Total (@carroProductos.Count): @carroProductos.Sum(producto => @producto.Precio * producto.Cantidade)€
        </div>
    </div>
    @if (isAuthenticated)
    {
        <div>
            <h5>Direcion de envío</h5>
            <DireccionForm />
        </div>
    }
    <button @onclick="FacerPedido" class="btn alert-success float-end mt-1">Realizar pago</button>
}

@code {
    List<CarroProductoRespostaDto> carroProductos = null;
    string mensaxe = "Cargando carro.....";
    bool isAuthenticated = false; //variable para comprobar se o usuario esta autenticado
                                  //xa non sera necesaria esta flag bool pedidoRealizado = false;

    protected override async Task OnInitializedAsync()
    {
        //pedidoRealizado = false;
        isAuthenticated = await AuthService.IsUsuarioAuthenticated(); 
        //comprobamos que o usuario este autenticado cando se carga a paxina
        await CargarCarro();
    }

    private async Task RemoveProductoDeCarro(int productoId, int productoTypeId)
    {
        await CarroService.RemoveProductoDeCarro(productoId, productoTypeId);
        await CargarCarro();
    }

    private async Task CargarCarro()
    {
        await CarroService.GetCarroItemsCount();
        carroProductos = await CarroService.GetCarroProductos();
        if (carroProductos == null || carroProductos.Count == 0)
        {
            mensaxe = "O teu carro esta vacio";
        }
    }

    private async Task UpdateCantidade(ChangeEventArgs e, CarroProductoRespostaDto producto)
    {
        producto.Cantidade = int.Parse(e.Value.ToString());
        if (producto.Cantidade < 1)
        {
            producto.Cantidade = 1;
        }
        await CarroService.UpdateCantidade(producto);
    }

    private async Task FacerPedido()
    {
        //await PedidoService.FacerPedido();
        //await CarroService.GetCarroItemsCount();
        //pedidoRealizado = true;

        //refactorizado abaixo para aceptar pagos con Stripe
        string url = await PedidoService.FacerPedido();
        NavigationManager.NavigateTo(url);
    }
}
