@using BlazorEcommerce.Shared
@inject IProductoService ProductoService

@if(ProductoService.Productos == null || ProductoService.Productos.Count == 0)
{
    <span>Cargando Productos...</span>
}
else 
{
    <ul class="list-unstyled">
        @foreach (var producto in ProductoService.Productos)
        {
            <li class="media my-3">
                <div class="media-img-wrapper mr-2">
                    <a href="/producto/@producto.Id">
                        <img class="media-img" src="@producto.ImaxeUrl" alt="@producto.Titulo" />
                    </a>
                </div>
                <div class="media-body">
                    <a href="/producto/@producto.Id">
                        <h4 class="mb-0">@producto.Titulo</h4>
                    </a>
                    <p>@producto.Descripcion</p>
                    <h5 class="price">
                        @producto.Precio€
                    </h5>
                </div>
            </li>
        }
    </ul>
}


@code {
    //Productos comentado porque agora con ProductoService xa non necesitamos crear esta lista
    //private static List<Producto> Productos = new List<Producto>(); //deixamos a lista so inicializada, pero sen mais datos, xa que agora temos os datos nunha web API e chamaremola desde o cliente

    protected override async Task OnInitializedAsync()
    {        
        //var resultado = await Http.GetFromJsonAsync<List<Producto>>("api/producto");
        //novo cambio, para simplificar, retirado HttpClient, co cal comentamos as linhas seguintes para deixar de usar HttpClient e utilizar IProductoService
        //var resultado = 
            //await Http.GetFromJsonAsync<ServiceResposta<List<Producto>>>("api/producto"); // Paso 22, modificado aqui tamen porque usamos o servicio creado en proxecto Shared
        //if(resultado != null && resultado.Data != null)
        //{
            //Productos = resultado.Data;
        //}

        //agora teremos todo nunha unica linha
        await ProductoService.GetProductos(); 
    }

    //{
    //    new Producto
    //    {
    //        Id = 1,
    //        Titulo = "The Hitchhiker's Guide to the Galaxy",
    //        Descripcion = "A Guía do Autoestopista Galáctico (título orixinal The Hitchhiker's Guide to the Galaxy) é unha serie de novelas humorísticas de ciencia ficción do escritor inglés Douglas Adams. Orixinalmente unha comedia radiofónica que comezou a emitirse na BBC en 1978, foi seguida dunha novela, The Hitchhiker's Guide to the Galaxy, publicada en 1979, unha serie de televisión en 1981, un xogo de ordenador en 1984 e unha película en 2005.",
    //        ImaxeUrl = "https://upload.wikimedia.org/wikipedia/en/b/bd/H2G2_UK_front_cover.jpg",
    //        Precio = 9.99m
    //    },
    //    new Producto
    //    {
    //        Id = 2,
    //        Titulo = "Ready Player One",
    //        Descripcion = "Ready Player One é unha novela distópica de ciencia ficción de Ernest Cline publicada no ano 2011, a súa primeira obra deste tipo. No 2012 o libro recibiu un Premio Alex por parte da división Young Adult Library Services Association da American Library Association e gañou o Premio Prometheus de 2012.",
    //        ImaxeUrl = "https://upload.wikimedia.org/wikipedia/en/a/a4/Ready_Player_One_cover.jpg",
    //        Precio = 8.99m
    //    },
    //    new Producto
    //    {
    //        Id = 3,
    //        Titulo = "Nineteen Eighty-Four",
    //        Descripcion = "1984 (en inglés Nineteen Eighty-Four) é o título dunha novela de política ficción distópica escrita por George Orwell en 1948 e editada en 1949. Na novela o estado omnipresente obriga a cumprir as leis e normas aos membros do partido totalitario mediante o adoutrinamento, a propaganda, o medo e o castigo desapiadado. A novela introduciu os conceptos do sempre presente e vixiante Grande Irmán, do notorio cuarto 101, da ubicua policía do pensamento e da neolingua, adaptación do inglés na que se reduce e se transforma o léxico —o que non está na lingua, non pode ser pensado.",
    //        ImaxeUrl = "https://upload.wikimedia.org/wikipedia/commons/c/c3/1984first.jpg",
    //        Precio = 11.99m
    //    }
    //};
}
